<h2>Sign up</h2>
 
<%= form_with(model: @users, action: 'update') do |form| %>
    <div class="field">

    <%= form.label :name %><br />

    <%= form.text_field :name, autocomplete: "name" %>

  </div>
    <div class="field">

    <%= form.label :email %><br />

    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>

  </div>

  <div class="field">

    <%= form.label :password %>

    <% if @minimum_password_length %>

    <em>(<%= @minimum_password_length %> characters minimum)</em>

    <% end %><br />

    <%= form.password_field :password, autocomplete: "new-password" %>

  </div>

    <div class="field">

    <%= form.label :password_confirmation %><br />

    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>

  </div>

    <%= form.collection_check_boxes :role_ids, Role.all, :id, :name%>
    <%= @users.errors[:roles]%><br>
    <%= form.button :submit %>
    <div class="actions">

    <%# <%= form.submit "Sign up" %> 

  </div>
     <%= link_to "Back to user", users_path %>  
<%end%>